.vscode/launch.json
ponteiros_funcoes/funcoes_ponteiros
ponteiros_funcoes/funcoes_ponteiros2
argv/matriz.c
argv/vetor.c
argv/tresnomes.c
structs/distance.c
structs/distance
enumeracoes/enum.c
structs/2grau
structs/in.txt
structs/out.txt
structs/2graua
enumeracoes/enum
argv/tresnomes
structs/2grau.c
