.vscode/launch.json
ponteiros_funcoes/funcoes_ponteiros
ponteiros_funcoes/funcoes_ponteiros2
argv/matriz.c
argv/vetor.c
argv/tresnomes.c
structs/distance.c
structs/distance
enumeracoes/enum.c
structs/2grau
structs/in.txt
structs/out.txt
structs/2graua
enumeracoes/enum
argv/tresnomes
structs/2grau.c
avaliacao1/exe1
avaliacao1/ex1
structs/structs
avaliacao1/exe2
exercicios_estruturas/ex5
avaliacao1/ex2
exercicios_estruturas/ex3
arquivos/hellofile
arquivos/alunos.in
revisao/exe2
arquivos/back1.txt
arquivos/calc
arquivos/calc.in
arquivos/calc.res
arquivos/ex5
arquivos/pessoas.dat
arquivos/pessoas.txt
arquivos/strread
arquivos/struct
arquivos/strwrite
arquivos/strwriterel
arquivos/ex5.c
arquivos/dados.dat
arquivos/escrevebin
arquivos/lerbin
arquivos/thiago.bin
avaliacao2/ex1
avaliacao2/exe1
avaliacao2/ex2
revisao/hello
